<div id="professional-insights">
  <h4 class="mb-3">Professional Insights:</h4>

  <p>
    I joined
    <a href="http://https://www.trianz.com/" target="_blank">Trianz</a> as a
    fresher on 10<sup>th</sup> Sep, 2021. Now I have almost 2 years of
    experience in IT industry. For your reference, I have palced my annual
    compensation break-off and salary slip of last month.
  </p>

  <p class="heading">Compensation Break-off:</p>
  <div class="row mb-3">
    <div class="col-lg-6 text-center">
      <img src="assets/images/Compensation_1.jpg" alt="Compensation_1" />
    </div>
    <div class="col-lg-6 text-center">
      <img src="assets/images/Compensation_2.jpg" alt="Compensation_2" />
    </div>
  </div>

  <p class="heading">Last Months Salary Slip:</p>
  <div class="row mb-3">
    <div class="col-lg-6 text-center">
      <img src="assets/images/JUL_2023.jpg" alt="July_2023" />
      <p>July - 2023</p>
    </div>
    <!-- <div class="col-lg-4 text-center">
      <img src="assets/images/JUN_2023.jpg" alt="June_2023" />
      <p>June - 2023</p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="assets/images/MAY_2023.jpg" alt="May_2023" />
      <p>May - 2023</p>
    </div> -->
  </div>

  <p class="heading mb-3">Social Links:</p>
  <div class="pb-4">
    <p class="mb-0">
      To know more about my skills and work, follow the below links
    </p>
    <ul>
      <li>
        <p class="mb-0">
          <a
            href="https://www.hackerrank.com/ziauddinziya07?hr_r=1"
            target="_blank"
            >HackerRank: Ziauddin Ziya</a
          >
        </p>
      </li>
      <li>
        <p class="mb-0">
          <a href="https://www.linkedin.com/in/ziauddinziya/" target="_blank"
            >LinkedIn: Ziauddin Ziya</a
          >
        </p>
      </li>
      <li>
        <p class="mb-0">
          <a href="https://ziauddinziya07.github.io" target="_blank"
            >Portfolio: Ziauddin Ziya</a
          >
        </p>
      </li>
    </ul>
  </div>
</div>
