<div id="header" class="container-fluid text-center p-5">
    <img src="../assets/images/bismillah.png" alt="bismillah" class="mb-5" />

    <h4 class="mb-3">
      Begin With The Name of Allaah, The Most Benificient and The Most Merciful
    </h4>

    <p class="mb-2">Under the spirutual patronage of:</p>
    <p class="mb-2">
      Qutub-e-Adoni Qutub-ud-Dawaayir Ashraf-ul-Ma'aasir Sayyid-e-Barhaq Hazrath
      Sayyid Shah Taher Quadri, Al-Hamavi Rahamatullaahi Alaih, Adoni,
    </p>

    <p class="mb-0">
      Hazrath Mohammed Ali Rahamatullaahi Alaih, Ibrahimpur, Suruguppa.
    </p>

    <div class="bg-container"></div>
</div>
