<div id="islamic-insights">
  <h4 class="mb-3">Islamic Insights:</h4>

  <ul>
    <li>
      <p class="mb-0">
        Alhamdulillaah, I perform 5 times prayer regularly, If I miss any prayer
        I use to perform the qaza for the same as early as possible.
      </p>
    </li>
    <li>
      <p class="mb-0">
        Alhamdulillaah, I completed my Nazira -e- Qur'aan Majeed for the first
        time in the year 2019 when I was in B.Tech 2<sup>nd</sup> year. I
        started learning from my childhood but never got the chance to the
        Nazira -e- Majeed. I have also completed the Hifz of Surah -e- Yaaseen,
        Surah -e- Rahmaan and many other small surah.
      </p>
    </li>
    <li>
      <p class="mb-0">
        Alhamdulillaah, Now I complete one full daur of Qur'aan Majeed in the
        month of Ramzaan-Kareem. And also I complete 2-3 daur of Qur'aan Majeed
        once in a year.
      </p>
    </li>
    <li>
      <p class="mb-0">
        I am fond of giving Azaan at our Masoom Sahab Masjid, Khooni Mohallah.
        By tomorrow Inshaallaah I will keep my audio recordings here.
      </p>
    </li>
  </ul>
</div>
