<ng-container *ngIf="!showContent">
<div class="hidden-section d-flex flex-column justify-content-center align-items-center">
  <span class="mb-5">
    Alhamdulillaah, I am blessed with my best match.
  </span>

  <span>
     Alhamdulillaah <span class="infinite-symbol">∞</span> times for having such a Nek Qatoon.
  </span>

  <button class="hidden-button" (click)=showHiddenContent()>

  </button>
</div>
</ng-container>

<ng-container *ngIf="showContent">
<app-header></app-header>

<div class="row">
  <div class="col-lg-6 order-2 order-lg-1">
    <app-personal-details></app-personal-details>
  </div>

  <div class="col-lg-6 order-1 order-lg-2">
    <app-photos-section></app-photos-section>
  </div>
</div>
<app-islamic-insights></app-islamic-insights>
<app-professional-insights></app-professional-insights>
</ng-container>
