<div id="personal-details">
  <h4 class="mb-3">Personal Details:</h4>

  <div class="row mb-4">
    <!-- ***************************** -->
    <div class="col-4"><p>First Name</p></div>
    <div class="col-8"><p>: Mohammed</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Last Name</p></div>
    <div class="col-8"><p>: Ziauddin</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Sur Name</p></div>
    <div class="col-8"><p>: Turrumturri</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Nick Name</p></div>
    <div class="col-8"><p>: Ziya</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Full Name</p></div>
    <div class="col-8"><p>: Turrumturri Mohammed Ziauddin</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Date of Birth</p></div>
    <div class="col-8">
      <p>: Friday 28<sup>th</sup> May, 1999</p>
    </div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Birth Time</p></div>
    <div class="col-8"><p>: Maghrib(07:10 PM)</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Age</p></div>
    <div class="col-8">
      <p>: {{ years }} years {{ months }} months {{ days }} days</p>
    </div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Profession</p></div>
    <div class="col-8"><p>: Software Engineer at Trianz</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Role</p></div>
    <div class="col-8"><p>: Angular Developer(Frontend Developer)</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Passion</p></div>
    <div class="col-8">
      :
      <ul>
        <li>
          <p>Digital Intivation Card Designer</p>
        </li>
        <li><p>Digital Intivation Video Maker</p></li>
        <li><p>Founder & Developer of Ziya Invites</p></li>
      </ul>
    </div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Qualification</p></div>
    <div class="col-8"><p>: Graduated</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Degree</p></div>
    <div class="col-8"><p>: B.Tech</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Stream</p></div>
    <div class="col-8"><p>: Computer Science & Engineering(CSE)</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Height</p></div>
    <div class="col-8"><p>: 5fts 6"</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Complexion</p></div>
    <div class="col-8"><p>: Fair</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Religion</p></div>
    <div class="col-8"><p>: Islam</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Category</p></div>
    <div class="col-8"><p>: Sunni</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Monthly Income</p></div>
    <div class="col-8"><p>: ₹49,750/-</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Annual Income</p></div>
    <div class="col-8"><p>: 5.5LPA</p></div>
    <!-- ***************************** -->
  </div>

  <h4 class="mb-3">Family Details:</h4>

  <div class="row mb-4">
    <!-- ***************************** -->
    <div class="col-4"><p>Father Name</p></div>
    <div class="col-8"><p>: T. Basha Sahab</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Father's Ocuupation</p></div>
    <div class="col-8">
      :
      <ul>
        <li>
          <p>Proprietor of Mohammed Ali Jewellers, Shroff Bazaar, Adoni,</p>
        </li>
        <li>
          <p>
            Also the President of and former cashier of Madarsa -e- Masoomia,
            Khooni Mohallah, Adoni.
          </p>
        </li>
      </ul>
    </div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Mother Name</p></div>
    <div class="col-8"><p>: T. Muqbul Begum</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Mother's Occupation</p></div>
    <div class="col-8"><p>: House wife</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Siblings</p></div>
    <div class="col-8">
      <p>: One younger sister - Engaged</p>
    </div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Sister Name</p></div>
    <div class="col-8"><p>: T. Arshiya Farheen</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Paternal Grand Father Name</p></div>
    <div class="col-8"><p>: T. Ghouse Mohiyuddin Sahab(Late)</p></div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Maternal Grand Father Name</p></div>
    <div class="col-8"><p>: B. Basheer Ahmed Sahab(Late)</p></div>
    <!-- ***************************** -->
  </div>

  <h4 class="mb-3">Contact Details:</h4>

  <div class="row mb-4">
    <!-- ***************************** -->
    <div class="col-4"><p>Adress</p></div>
    <div class="col-8">
      <p>: #1/541/120, NGO's Colony,</p>
      <p><span>: </span>Near Vivekananda College,</p>
      <p><span>: </span>Adoni, Kurnool Dist.,</p>
      <p><span>: </span>AP, 518 301.</p>
    </div>
    <!-- ***************************** -->

    <!-- ***************************** -->
    <div class="col-4"><p>Father Phone Number</p></div>
    <div class="col-8"><p>: +91 99645 41902.</p></div>
    <!-- ***************************** -->
  </div>
</div>
